.actionBarWrapper {
    background-color: lightslategrey;
    border-top-style: solid;
    border-color: white;
    padding: 5px;
}

.actionBarIconRow {
    display: flex;
    justify-content: space-evenly;
}

 .actionBarIconRow img:hover {
    background-color: white;
    border-radius: 50%;
    
}
 
textarea {
    padding: 5px;
    background-color: lightgray;
}