.actionBarWrapper {
    background-color: lightslategrey;
    border-top-style: solid;
    border-color: white;
    padding: 5px;
}

 .actionBar  img:hover {
    background-color: white;
}
 
textarea {
    padding: 5px;
    background-color: lightgray;
}