.reviewsWrapperDiv {
    display:flex ;
    flex-direction: column;
    border: 2px solid black;
    padding-bottom: 80px;
}

.showTitle {
    background-color: goldenrod;
}

.showReview{
    background-color: lightgrey;
    padding: 5px;
}