.mainWrapper{
    display: flex;
    align-content: center;
    justify-content: center; 
    flex-direction: column;
    width: 100%;
    padding: 10px 0px;
    background-color: var(--cerulean);
    margin-bottom: 90px;
}
.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 35px;
}
.title p{
    color: var(--xanthous);
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    text-shadow: 5px black;
    -webkit-text-stroke: 2px black; 
    text-shadow: -8px 5px 5px rgba(0,0,0,0.41);
}

.title h2{
    font-family: "Poetsen One", sans-serif;

}
.ctaWrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around; 
    color: whitesmoke;
}

.ctaWrapper h2{
    text-decoration: underline;
    margin-bottom: 10px;
   
}

.ctaWrapper div {
    padding-top:40px;
}
.ctaWrapper span{
    color: #301a4bff;
    font-family: "Alan Sans";
}
.cta1, .cta3{
    background-color: var(--sinopia);
    margin-bottom: 25px;
    padding: 15px;
    font-family: "Alan Sans";
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}
.cta2 {
    background-color: var(--sinopia);
    margin-bottom: 25px;
    padding: 10px;
    font-family: "Alan Sans";
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
}
.learnMoreLink {
    border: solid blue 2px;
    background-color: pink;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 25px;
    align-self: center;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,1);
}
.loginSignUp{
    font-size: larger;
    font-weight: 400;
    background-color: rgb(245, 245, 245);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-self: center;
    border: solid black 2px;
    width: 75%;
    padding: 15px;
    border-radius:15px;
    box-shadow:
        0px 30px 25px -5px  rgba(0, 0, 0, 0.863),
        0px 10px 10px -5px rgba(0, 0, 0, 0.702);
}
/*Box- Shawdow 
[inset] offset-x offset-y blur-radius spread-radius color;*/