.mainDropdownWrapper{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgba(245, 245, 245, 0.539);
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 5px 5px 30px -1px #000000;
   
}

.showDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: black solid 1px;
}
.showDetails p {
    font-weight: 600;
    padding-bottom: 7px;
}

.showDetails p:hover {
    cursor: pointer;
    color: aliceblue;
}

.showDetails img {
    width: 200px;
    padding: 5px;
}

.showDetails img:hover {
    cursor: pointer;
}

@media (max-width: 412px) {
    .showDetails img {
        width: 100px;
        padding: 5px;
    }
}

