.showWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
    overflow: hidden;
    overflow: auto;
    margin-bottom: 50px;
    text-align: left;
    margin-top: 10px;
    padding: 10px;
}

.showWrapper header {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
}

.showWrapper button {
    width: 150px;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    white-space: nowrap;
}

.showWrapper button:hover {
    cursor: pointer;
}

.showDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    border-color: white;
    padding-left: 5px;
    margin-bottom: 25px;
    text-align: center;
}




.genres {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 1px black;
    margin-right: 5px;
}

.seasonInfo {
    display: flex;
    color: aliceblue;
}

.showOverview {
    text-align: justify;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.streamingOptionsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2px;
}

.streamingService {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
}

.streamingService p {
    text-transform: capitalize;
}

.streamingService img {
    width: 50px;
    background-color: black;
    padding: 5px;
    border-radius: 10%;
}






/* CSS Comment*/