.showWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    margin-top: 10px;
}

.showWrapper header {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
}

.showWrapper button {
    width: 150px;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    white-space: nowrap;
}

.showWrapper button:hover {
    cursor: pointer;
}

.showDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
    padding-left: 5px;
    margin-bottom: 25px;
    text-align: center;
    border: solid black 2px;
    border-radius: 25px;
    box-shadow: -1px 1px 13px 14px #00000033;
}

.genres {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: solid 1px black;
    margin-right: 5px;
    background-color: orange;
    padding: 10px;
    
}

.seasonInfo {
    display: flex;
    color: black;

}

.showOverview {
    text-align: justify;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.streamingOptionsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 5px;
    padding: 2px;
     overflow: hidden;
}
.streamingService {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-weight: 700;
}
.streamingService p {
    text-transform: capitalize;
}
.streamingService img {
    background-color: black;
    padding: 15px;
    border-radius: 10%;
    width: 100%;        /* fill the card width */
    max-width: 120px;   /* but don't get too big */
    height: auto;
    object-fit: contain;
}






/* CSS Comment*/