.mainAutoFeedWrapper {
    width: 100%;
    display: flex;
    Flex-direction: column;
    background-color: rgba(188, 143, 143, 0);
    padding-bottom: 100px;
}

.sortingDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 600;
    background-color: gray;
}
