.mainWrapper{
    border-top-style: solid;
    border-color: white;
    padding: 5px;  
    
    display: flex;
    align-Content:center;
    flex-direction: column;
    text-align: left;
}

.header{
    display: flex;
    align-items: center;
    gap: 5px;
}

.header img {
    border-radius: 20px;
}

.actionBar {
    display: flex;
    justify-content: space-between;
    background-color: lightslategrey;
    border-top-style: solid;
    border-color: white;
    padding: 5px;
}

 .actionBar  img:hover {
    background-color: white;
}

textarea {
    padding: 5px;
    background-color: lightblue;
}